* {
    margin: 0;
    padding: 0;
}

body {
    
    width: 1728px;
    font-family: Arial, sans-serif;
}

.navbar {
    position: fixed; 
    top: 0;
    left: 0;
    width: 1728px;
height: 127px;

    background-color: #6F6AF7;
    display: flex;
    justify-content: center;
    align-items: center; 
    z-index: 1000;
}

#logo {
    color: white;
    position: absolute;
    height: 63px;
    width: 215px;
    top: 27px;
    left: 44px;
    font-family: "Delius Unicase", cursive;
    font-weight: 700;
    font-size: 61.43px;
    line-height: 78.81px;
}

.navclass {
    position: absolute;
    font-family: "DM Sans", sans-serif;
    color: white;
    font-size: 36.43px;
}

#Home {
    top: 41px;
    left: 412px;
}

#AboutUs {
    top: 41px;
    left: 561px;
}

#Information {
    top: 41px;
    left: 764px;
}

#moretext {
    top: 41px;
    left: 1009px;
}

#Moreicon {
    width: 7.77px;
    height: 14px;
    top: 36px;
    left: 1098px;
}

.search-bar {
    position: relative;
    display: flex;
    align-items: center;
    top: -30px;
    left: 350px;
    
}

.search-bar input {
    padding: 8px 35px 8px 10px;
    border: none;
    border-radius: 63px;
    outline: none;
    font-size: 16px;
    height: 41px;
    width: 269px;
}

.search-bar img {
    position: absolute;
    right: 10px;
    width: 20px;
    height: 20px;
    pointer-events: none;
}

#optionbutton {
    top: 38.84px;
    right: 44px;
}

#options {
    width: 67px;
    height: 46.61px;
}

/* Main content */
.main {
    margin-top: 127px; 
    width: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.group1 {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    margin-top: 58px;
}

#group1img {
    margin-left: 70px;
    width: 456px;
    height: 507px;
    border-radius: 20px;
    margin-top: 100px;
}


#grouptextarea {
    margin-top: 115px;
    margin-right: 70px;
    width: 960px;
    height: 375px;
    background: #E5D8FF;
    padding: 40px;
    border-radius: 20px;
    border: 6px solid rgba(255, 255, 255, 1);
    box-shadow: 3px 5px 27px 0px #00000040 inset;
    font-family: DM Sans;
    font-size: 29px;
    font-weight: 400;
    line-height: 51.82px;
    text-align: left;
}

.group2 {
    display: flex;
    justify-content: space-around;
    margin: 80px 50px 50px 50px;
}

.group2box {
    width: 287px;
    height: 98.48px;
    margin: 90px 30px 30px 30px;
    border-radius: 11px;
    box-shadow: 0px 9px 31px 0px #00000066;
    font-family: DM Sans;
    font-size: 29px;
    font-weight: 700;
    line-height: 51.82px;
    letter-spacing: 0.04em;
    text-align: left;
    padding: 30px 25px;
    color: #FFFFFF;
}

#totalques {
    background: #929DFF;
}

#totalans {
    background: #734CF2;
}

#participated {
    background: #D288FF;
}

#totalpassed {
    background: #000000;
}

.group3 {
    width: 1542px;
    height: 717px;
    border-radius: 21px;
    background: #483EFF;
    margin: 90px 90px 90px 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.group3buttons {
    height: 717px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 30px;
}

.buttoninfo {
    width: 397px;
    height: 133px;
    border-radius: 22px;
    box-shadow: 0px 6px 35px 0px #00000063;
    font-family: DM Sans;
    font-size: 35px;
    font-weight: 700;
    line-height: 62.54px;
    letter-spacing: 0.04em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#coloredbutton {
    background: #BCE0F6;
    color: #000000;
}

.simbutton {
    border: 5px solid #FFFFFF;
    color: #FFFFFF;
}

.infobox {
    width: 1004px;
    height: 656px;
    border-radius: 19px;
    background: #FFFFFF;
    margin: 71px auto 50px;
}

#infoboxcontent {
    margin: 71px 0px 50px 55px;
}

#yourinfo {
    font-family: Inter;
    font-size: 38px;
    font-weight: 700;
    line-height: 45.99px;
    letter-spacing: 0.105em;
    color: #04285A;
    margin-bottom: 40px;
}

.centre-text {
    font-family: Roboto;
font-size: 30px;
font-weight: 400;
line-height: 35.16px;
letter-spacing: 0.05em;
color: #FFFFFF;
    display: flex;            
    justify-content: center;  
    align-items: center;      
    text-align: center;       
    height: 100%;
}


.nextButton {
    width: 207px;
height: 78px;
margin-left: auto; 
    margin-right: 50px;
    margin-top: 150px;
gap: 0px;
border-radius: 9px;
opacity: 0px;
background: #000000;
}

.data {
    font-family: Roboto;
    color: #143565;
    margin: 30px;
}

.head {
    font-size: 28px;
    font-weight: 500;
    line-height: 32.81px;
    letter-spacing: 0.105em;
}

.headdata {
    font-size: 24px;
    font-weight: 400;
    line-height: 28.13px;
    letter-spacing: 0.05em;
}

.fixedvector {
    position: fixed;
    z-index: 1000;
    bottom: 20px; 
    left: 1506px; 
}

.icon-wrapper {
    position: relative;
    width: 120px;
    height: 120px;
}

.overlay-image {
    width: 140%;
    height: 140%;
    object-fit: contain;
}

.base-icon {
    position: absolute;
    width: 60%;
    height: 60%;
    top: 30%;
    left: 35%;
    object-fit: contain;
}

.sticky-container {
    position: -webkit-sticky;
    position: sticky;
    top: 200px; 
    margin-left: auto; 
    margin-right: 5px;
    margin-top: -400px;
    display: flex;
    flex-direction: column;
    gap: 5px; 
    z-index: 1000;
}

.rectangle-box {
    width: 88px;
    height: 85px;
    border-radius: 11px;
    border: 3px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.icon {
    width: 60%;
    height: 60%;
    object-fit: contain;
}


